body{
  background-color: rgba(127, 255, 212, 0.2);
}

h1{
  text-align: center;
  color: rgb(0, 156, 218);
}

h2 {
  color: rgb(255, 60, 0);
  text-align: center;
  text-decoration: underline;
}

.pic {
  width: 250px;
  height: 250px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sub {
  border: 2px dotted rgb(0, 255, 0);
  font-weight: bold;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.sub a {
  display: block; 
  width: 100%;
  text-align: center; 
}

.sub a:first-child {
  order: 1;
}

.sub a:last-child {
  order: 2; 
}

footer{
  text-align: right;
  color: gray;
}